USE [BHSDB_CLT]
GO
/****** Object:  UserDefinedFunction [dbo].[RPT_CONVERT_MINUTE]    Script Date: 2014/4/7 21:39:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER FUNCTION [dbo].[RPT_GET_FAULT_DURATION]
(	@DTFROM DATETIME,
	@DTTO DATETIME,
	@SUBSYSTEM VARCHAR(MAX),
	@LOCATION VARCHAR(MAX),
	@FAULT_TYPE VARCHAR(MAX)
) 
--RETURN VALUE IS BASED ON SECONDS
RETURNS INT
AS
BEGIN

	DECLARE @TOTAL_SECOND INT=0;
	
	SELECT	@TOTAL_SECOND=ISNULL(SUM(DATEDIFF(SECOND,ALM_STARTTIME,ISNULL(ALM.ALM_ENDTIME,@DTTO))),0)
	FROM	MDS_ALARMS ALM
	WHERE	ALM.ALM_STARTTIME BETWEEN @DTFROM AND @DTTO
		AND	ALM.ALM_ALMAREA1 IN (SELECT * FROM dbo.RPT_GETPARAMETERS(@SUBSYSTEM))
		AND ALM.ALM_ALMEXTFLD2 IN (SELECT * FROM dbo.RPT_GETPARAMETERS(@LOCATION)) 
		AND ALM.ALM_ALMAREA2 IN (SELECT * FROM dbo.RPT_GETPARAMETERS(@FAULT_TYPE))
		AND	ALM_UNCERTAIN = 0;
		

	RETURN @TOTAL_SECOND;
END

--DECLARE @DTFROM DATETIME='2014-04-01';
--DECLARE @DTTO DATETIME='2014-04-03';
--DECLARE @SUBSYSTEM VARCHAR(MAX)='ED3'
--DECLARE @LOCATION VARCHAR(MAX)='XR-ED3'
--DECLARE @FAULT_TYPE VARCHAR(MAX)='AA_FT,AA_XMAL'
--SELECT dbo.RPT_GET_FAULT_DURATION(@DTFROM,@DTTO,@SUBSYSTEM,@LOCATION,@FAULT_TYPE)

