USE [BHSDB]
GO
/****** Object:  UserDefinedFunction [dbo].[RPT_GETFORMATTEDSTO]    Script Date: 12/10/2013 22:10:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[RPT_GETFORMATTEDSTO]
(
 @PARAMETER VARCHAR(4)
)
RETURNS VARCHAR(5)
AS
BEGIN
	-- Fill the table variable with the rows for your result set
	DECLARE @HOUR VARCHAR(2)
	DECLARE @SECOND VARCHAR(2)
	DECLARE @RESULT VARCHAR(5)
	
	SET @HOUR= SUBSTRING(@PARAMETER,1,2)
	
	SET @SECOND= SUBSTRING(@PARAMETER,3,2)
	
	SET @RESULT= @HOUR + ':' + @SECOND
	
	RETURN @RESULT
END
